* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 50px;
    min-height: 100vh;
    background-color: rgba(0,0,0,0)!important
    
}
#chat-container {
    position: fixed;
    width: 600px;
    height: 600px;
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;

    overflow-y: visible;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    word-break: break-all;
    overflow-wrap: anywhere;
    color: white;
    background-color: aqua;
    transform: translateX(100%);
}
#chat-container img {
    vertical-align: middle;
}
#chat-container a {
    vertical-align: middle;
}

#chat-container2 {
    width: 600px;
    height: 600px;

    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;

    overflow-y: visible;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    word-break: break-all;
    overflow-wrap: anywhere;
    color: white;
}
#chat-container2 img {
    vertical-align: middle;
}
#chat-container2 a {
    vertical-align: middle;
}

.chat-entry {
    padding: 4px 16px;
}

.badge {
    vertical-align: middle;
    padding-right: 3px;
}

.username {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
}
